.text-link {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 700;
    color: rgb(7, 7, 7);
    transition: 0.3s ease-in-out;
    font-family: monospace;
    margin-right: 15%;
}

.text-link:hover {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 800;
    color: rgb(255, 255, 255);
    font-family: monospace;

}