.ContainerButtons{
    display: flex;
}

.background {
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;

}

.background .Title {
  font-size: 320%;
  font-family:monospace;
}

.background .subtitle {
  font-size: 120%;
  font-family:monospace;

}

.Text h1, .Text h3 {
  position: relative;
  color: black;  
  line-height: 0.9;
  text-align: center;
  font-family:monospace;

}
