.ContainerButtons{
    display: flex;
}

.backgroundImage {
  position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.backgroundImage::before {
  content: "";
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.7;
}
.backgroundImage .Title,
.backgroundImage .subtitle  {
  opacity: 1;
  color: black;
}
.backgroundImage .Title {
  font-size: 320%;
}

.backgroundImage .subtitle {
  font-size: 120%;
}


.Text h1, .Text h3 {
  position: relative;
  color: black;  
  line-height: 0.9;
  text-align: center;
}
